auto-install-peers = true
prefer-workspace-packages = true
@lepton:registry=https://asia-npm.pkg.dev/rio-platform/npm/
@rio.js:registry=https://asia-npm.pkg.dev/rio-platform/npm/
registry=https://registry.npmjs.org
//asia-npm.pkg.dev/rio-platform/npm/:always-auth=true

