{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "arrowParens": "always",
  "importOrder": ["^@rio.js/(.*)$", "^@/components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "explicitResourceManagement",
    "typescript",
    "jsx",
    "classProperties",
    "decoratorsLegacy"
  ],
  "importOrderSideEffects": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
